{%extends 'inventario.html'%}



{%block contenido%}

						<form action="" method="get">

						<input type="text" name="e" id='e' placeholder="Buscar por SKU o nombre.">
						<input type="submit" value="Buscar" id='btnBuscar2'>
                        </form>

						{%if prod %}
							<ul>
								{%for producto in prod%}
                                <form action="" method="post">
                                {%csrf_token%}
									<div class="marco" id="{{ producto.id }}">
										<div class="resum_prod">
											<div class="img_prod">
												<img src="{{producto.foto_principal.url}}" WIDTH=208 HEIGHT=300>
												<label>SKU: {{ producto.SKU }}</label><br>
                                                <input type="hidden" name="sel_producto" value="{{ producto.id }}">
                                                <label><i>{{producto.nombre}}</i></label><br>
												<label><strong>${{producto.precio_venta}}0 MXN</strong></label><br>
												<label>Talla:</label><select id="sel_talla" name="sel_talla">
												{%for talla in producto.talla.all%}
													<option value="{{talla.id}}">{{talla.talla}}</option>
												{%endfor%}
												</select><br>
												<label>Color:</label><select id="sel_color" name="sel_color">
												{%for color in producto.color.all%}
													<option value="{{color.id}}">{{color.nombre}}</option>
												{%endfor%}
												</select><br>
                                                {% if dp %}
                                                    {% ifequal producto dp.producto %}
                                                    <label>Unidades: {{ dp.unidades }}</label><br>
                                                    <input type="number" min=1 placeholder="Unidades a aumentar" id="unidades" class='unid' name="unidades"><br>
                                                    {% endifequal %}
                                                {% endif %}

                                                <input type="submit" name="agregar" value="Agregar">
											</div>
										</div>   
									</div>

                          		</form>
									{%endfor%}
							</ul>

						{%endif%}

{%endblock%}