<!DOCTYPE html> 

<html>
	<head>
		<title>
			{%block titulo%}
				Alfie -Tienda en línea
			{%endblock%}
		</title>


            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.js"></script>

            <script type="text/javascript">



              $(function(){

                  function mostrarTalla(){
                      $("#talla_h, #talla_h_l").show();
                      $("#ver_mas_talla").hide();
                  }

                $("#ver_mas_talla").on('click',mostrarTalla);
              });
              </script>


            {% block script %}
            {% endblock %}

			{%block estilo%}
				<link href="{{STATIC_URL}}css/estilo.css" type="text/css" rel="stylesheet">
			{%endblock%}
	</head>

	<body>
    <div id="cuerpo">
		<header>
		{%block encabezado%}
				<div id="logo">
					<a href="/"><img src='{{STATIC_URL}}img/alfie.png' WIDHT=60 HEIGHT=80></a> 
				</div>
				<div id="buscar">
					<form action="/busqueda/" method="get">
						<input type="text" name="q" id='q' placeholder="Buscar nombre o categoría.">
						<input type="submit" value="Buscar" id='btnBuscar'>
					</form>
				</div>

			<a href="/perfil/resumen">
            <a href="/login/">

                <div id="sesion">
                        {% if user.is_authenticated %}

                     <ul id="menu_sesion">

                     {% if user.is_authenticated %}
                     {% if user.perfil.foto_perfil %}

                         <li id="un_sesion"><img src="{{ user.perfil.foto_perfil.url }}" width=60 height=60>
                      {% else %}
                         <li id="un_sesion"><img src="{{STATIC_URL }}img/default.jpg" width=60 height=60>
                         {% endif %}
                         <strong style="font-size: 26px">&nbsp;{{ user.first_name }} &nbsp; &nbsp; &nbsp;&nbsp;</strong>
                         <ul id="sub_sesion">
                            <a href="/perfil/resumen"><li class="opc_sesion" id="op1">Resumen</li></a>
                            <a href="/perfil/modificar"><li class="opc_sesion" >Modificar información</li></a>
                            <a href="/perfil/compras"><li class="opc_sesion" >Historial de compras</li></a>
                            <a href="/perfil/carrito"><li class="opc_sesion" >Carrito de compra</li></a>
                            {% if user.is_superuser %}
                            <a href="/inventario/"><li class="opc_sesion" >Administrador</li></a>
                            {% endif %}
                             <a href="/logout/"><li class="opc_sesion" id="op5">Cerrar sesión</li></a>

                        </ul>
                     </li>
                     {% endif %}



            </ul>
                {% else %}
					    <label>Iniciar sesión</label>
                {% endif %}
				</div>
				</a></a>
		{%endblock%}
		</header>

        <nav>
            {% block navegacion %}
                <p></p>

            {% endblock %}
        </nav>


                <form action="" class="validar_form" method="post">
			<aside class="izquierda">
	            <ul class="menu">
	            {%block aside%}
                    <form action="" method="get">
                    {% csrf_token %}
			 		<li><span><strong><a style="padding-bottom:0">Categoría</a></strong></span>
		 			<hr><ul>
	                    {% for categoria in param.list_categoria %}
                            {% if forloop.counter < 6 %}
		 				        <li class="ultimo"><span><a><input type="checkbox" name="chk_cat" value="{{ categoria }}" onclick="this.form.submit();">{{categoria}}</a></span></li>
                            {% elif forloop.counter == 6 %}
                                <li class="ultimo" id="ver_mas_categoria"><a href="">Ver más</a></li>
                            {% else %}
                                <li class="ultimo"><a href="" style="display:none;">{{ categoria }}</a></li>
                            {% endif %}
	                    {% endfor %}
	                </ul>
	                <li><span><strong><a style="padding-bottom:0">Talla</a></strong></span>
	                  <hr>   <ul>
	                        {% for talla in param.list_tallas %}
                                {% if forloop.counter < 6 %}
		 				        <li class="ultimo"><span><a><input type="checkbox" name="chk_tal" value="{{ talla }}" onclick="this.form.submit();">{{talla}}</a></span></li>
                                {% elif forloop.counter == 6 %}
                                    <li class="ultimo" id="ver_mas_talla"><a id="a_ver_mas_talla">Ver más</a></li>
                                {% else %}
                                    <li class="ultimo"><span><a id="talla_h_l" style="display:none;"><input type="checkbox" onclick="this.form.submit();" id="talla_h" style="display:none;"  name="chk_tal" value="{{ talla }}">{{talla}}</a></span></li>
                                {% endif %}

	                        {% endfor %}
	                     </ul>
	              <li><span><strong><a style="padding-bottom:0">Color</a></strong></span>
                  <hr>
	                    <ul>
	                    {% for color in param.list_colores %}
	                    {% if forloop.counter < 6 %}
	                            <li class="ultimo"><span><a><input type="checkbox" name="chk_col" value="{{ color }}" onclick="this.form.submit();">{{color}}</a></span></li>
                                {% elif forloop.counter == 6 %}
                                    <li class="ultimo" id="ver_mas_color"><a id="a_ver_mas_color">Ver más</a></li>
                                {% else %}
                                    <li class="ultimo"><span><a id="color_h_l" style="display:none;"><input type="checkbox"  name="chk_col" onclick="this.form.submit();" value="{{ color }}" id="color_h" style="display:none;">{{color}}</a></span></li>
                                {% endif %}


	                    {% endfor %}
		 			</ul>
		 			</li>
              </form>
			 {%endblock%}
	            </ul>
			</aside>
		</form>



		<div id="contenido">
		{%block contenido%}

		{%endblock%}
        </ul>
        <br><br><br><br><br>
		</div>
		<footer>
		{%block pie%}


<a href="">Acerca de nosotros></a>| <a href="">Contacto</a> | <a href="">Política de privacidad</a><br>
            <p>Calzado Alfie S.A. de C.V., Hilario Medina #313 Col. La Carmona, León, Gto. México. Teléfono:(477) 765-35-32</p><a>Siguenos en:</a><br>

            <div id="facebook"><a href="https://www.facebook.com"><img src='{{STATIC_URL}}img/facebook.jpg' WIDHT=28 HEIGHT=28></a> </div>
            <div id="twitter"><a href="https://www.twitter.com"><img src='{{STATIC_URL}}img/Twitter.ico' WIDHT=30 HEIGHT=30></a> </div>
            <div id="google"><a href="https://www.google.com"><img src='{{STATIC_URL}}img/google.jpg' WIDHT=30 HEIGHT=30></a> </div>

		{%endblock%}
		</footer>

	</body>


</html>