<!DOCTYPE html> 

<html>
	<head>
		<title>
			{%block titulo%}
				Alfie -Tienda en línea
			{%endblock%}
		</title>

            {% block script %}
            {% endblock %}

			{%block estilo%}
				<link href="{{STATIC_URL}}css/estilo.css" type="text/css" rel="stylesheet">
			{%endblock%}
	</head>

	<body>
		<header>
		{%block encabezado%}
				<div id="logo">
					<a href="/"><img src='{{STATIC_URL}}img/alfie.png' WIDHT=60 HEIGHT=80></a> 
				</div>
				<div id="buscar">
					<form action="/busqueda/" method="get">
						<input type="text" name="q" id='q' placeholder="Buscar nombre o categoría.">
						<input type="submit" value="Buscar" id='btnBuscar'>
					</form>
				</div>

				<a href="/login/">
				<div id="sesion">
                    {% if user.is_authenticated %}
					    <label>{{ user.username }}</label>
					{% else %}
					    <label>Iniciar sesión</label>
                    {% endif %}
				</div>
				</a>
		{%endblock%}
		</header>

        <nav>
            {% block navegacion %}
                <p>hola</p>

            {% endblock %}
        </nav>

		<aside>
            <ul class="menu">
            {%block aside%}
		 		<li><a href="/login/">Mi perfil</a></li>
		 		<li><span><a href="">Categoría</a></span>
	 			<ul>
                    {% for categoria in param.list_categoria %}
	 				<li class="ultimo"><a href="">{{ categoria }}</a></li>
                    {% endfor %}

                    <li class="ultimo"><span><a href="">Talla</a></span></li>
                        {% for talla in param.list_tallas %}
                            <li class="ultimo">{{talla}}</li>
                        {% endfor %}

                    <li class="ultimo"><a href="">Color</a></li>
                    {% for color in param.list_colores %}
                    <li class="ultimo">{{ color }}</li>

                    {% endfor %}
	 			</ul>
	 			</li>
                {% if user.is_authenticated %}
	 			<li><a href="/perfil/resumen">Resumen</a></li>
                <li><a href="/perfil/modificar">Modificar perfil</a></li>
                 <li><a href="">Carrito de compra</a></li>
                <li><a href="/logout/">Cerrar sesión</a></li>
                {% endif %}
                <hr>



                {% if user.is_superuser %}
	 			<a href="/inventario/"><li class="menu_item">Administrador</li></a>
                {% endif %}
		 {%endblock%}
            </ul>
		</aside>

		<div id="contenido">
		{%block contenido%}
			<img id='under' src="{{STATIC_URL}}img/under.jpg">
		{%endblock%}
		</div>

		<footer>
		{%block pie%}
		{%endblock%}
		</footer>
	</body>
</html>