{% extends 'base.html' %}

{% block contenido %}
    <div id="carrito">
        <div id="res_carrito">
        <div id="tituloCarrito">


            <h1 id="h1Carrito">Carrito de compras</h1>
            <hr>
            <ul id="carrito_list">
                {% if dcar %}
                    {% for elem in dcar %}
                        <li class="elemCarrito">
                        <div class="divElemCarrito">
                            <form action="" method="post">
                                {% csrf_token %}
                            <img src="{{ elem.dproducto.producto.foto_principal.url }}" width=160 height=200 href="/producto/{{ elem.dproducto.producto.id }}">
                            <h2><a href="/producto/{{ elem.dproducto.producto.id }}">{{ elem.dproducto.producto }}</a></h2><br>
                            <input type="hidden" name="id_dcar" value="{{ elem.id }}">
                            <p><i>{{ elem.dproducto.producto.descripcion }}</i></p><br>
                            <p>Talla: {{ elem.dproducto.talla }}</p><br>
                            <p>Color:{{ elem.dproducto.color }}</p><br>
                            <p>Cantidad:</p><Input type="number" min=1 name="cantidad" value={{ elem.cantidad }} max={{ elem.dproducto.unidades }} ><br>
                            <h3>${{ elem.precio }}0</h3>
                            <input type="submit" id="eliminarCarrito" name="eliminarCarrito" value="Eliminar">
                             <input type="submit" id="actualizarCarrito" name="actualizarCarrito" value="Actualizar">
                            </form>
                        </div>
                        </li>
                    {% endfor %}
                    <h2>Total: ${{ total }}0</h2>
                    <form action="/envio/" method="post">
                        {% csrf_token %}
                        <input type="submit" name="comprar" id="comprar" value="Confirmar">
                    </form>
                {% else %}
                    <h2>No se encontraron productos en el carrito.</h2>
                {% endif %}
            </ul>


        </div>
    </div>
    </div>
{% endblock %}