{%extends 'base.html'%}


{%block contenido%}

    <img id='under' src="{{STATIC_URL}}img/portada.jpg">
    <div id="list_prod">
	{%if prod%}

		{%for producto in prod%}
        {% if forloop.count < 10 %}
        <a href="/producto/{{ producto.id }}" id="en_marco">

            <div class="marco" id="{{ producto.id }}">
			<div class="resum_prod">
				<div class="img_prod">
					<img src="{{producto.foto_principal.url}}" WIDTH=208 HEIGHT=300>
					<label><i>{{producto.nombre}}</i></label><br>
					<label><strong>${{producto.precio_venta}}0 MXN</strong></label><br>

				</div>
			</div>
		</div>

            </a>
        {% endif %}
		{%endfor%}
{%endif%}
</div>
{%endblock%}