{% extends 'base.html' %}
{% block aside %}
{% endblock %}

{% block contenido %}
    <form enctype="multipart/form-data" action="" id="formulario_modificar" method="post">
    {% csrf_token %}
    <div id="res_usuario">
        <div id="res_izq">
            {% if user.perfil.foto_perfil %}
            <img src="{{ user.perfil.foto_perfil.url }}" id="foto_perfil" width=140 height=140>
            {% else %}
            <img src="{{STATIC_URL }}img/default.jpg" id="foto_perfil" width="140" height="140">
            {% endif %}
        </div>
        <div id="res_info">

            <h1>{{ user }}</h1>
            <h2>Modificar perfil</h2>
                <table>
                {{ form_modificar.as_table }}
                </table>
                <input type="submit" value="Aceptar">
            <hr>
        </div>
    </div>
    </form>
{% endblock %}