{% extends 'base.html' %}

{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.js"></script>

    <script type="text/javascript">


        $(function(){

            function guardarTalla(){

                var talla=$(this).html();
                    seleccionar('#list_tallas .elemTalla', "li[id='" + talla + "']");
            }

            function guardarColor(){
                var color=$(this).html();
                    seleccionar('#list_colores .elemColor', '#list_colores #' + color);
            }

            function seleccionar(elem, elemSel){

                $(elem).css({background:'-moz-linear-gradient(#f8f8f8,#e8e8e8)',
                    background:'-webkit-linear-gradient(#f8f8f8,#e8e8e8)',
                    background: '-o-linear-gradient(#f8f8f8,#e8e8e8)',
                    background: 'linear-gradient(#f8f8f8,#e8e8e8)',
                    fontWeight:'normal',
                    color:'black'});

                $(elemSel).css({background:"-moz-linear-gradient(#3ADF00,#82FA58)",
                    background:"-webkit-linear-gradient(#3ADF00,#82FA58)",
                    background:"-o-linear-gradient(#3ADF00,#82FA58)",
                    background:"linear-gradient(#3ADF00,#82FA58)",
                    fontWeight:'bold',
                    color:'white'});
            }

            function mostrarImagen(){


            }

            $("#list_tallas .elemTalla").on('click',guardarTalla);
            $("#list_colores .elemColor").on('click',guardarColor);
            $(".img_sec").hover(function () {
                var img=$(this).attr('src');
                $('#img_prin').attr("src",img);
            }
            );
        });
    </script>
    <noscript>No acepta JavaScript</noscript>
{% endblock %}

{% block contenido %}
    <div id="prod">

            {% if producto %}
                <div id="div_img_sec">
                <img src="{{ producto.foto_izquierda.url }}" id="izq" class="img_sec" width=75 height=100>
                <img src="{{ producto.foto_frente.url }}" id="frente" class="img_sec" width=75 height=100>
                <img src="{{ producto.foto_principal.url }}" id="principal" class="img_sec" width=75 height=100>
                <img src="{{ producto.foto_derecha.url }}" id="der" class="img_sec" width=75 height=100>
                <img src="{{ producto.foto_suela.url }}" id="suela" class="img_sec" width=75 height=100>
                <img src="{{ producto.foto_trasera.url }}" id="tras" class="img_sec" width=75 height=100>
                </div>
                <img src="{{ producto.foto_principal.url }}" id="img_prin" width=400 height=550>
                <div id="info_prod">
                    <h1>{{ producto.nombre }}</h1>
                    <form method="post" action="">
                        <ul id="list_tallas">Tallas: <br><br>
                            {% for talla in producto.talla.all %}
                               <li class="elemTalla" id={{ talla }} >{{ talla }}</li>
                            {% endfor %}
                        </ul>

                        <ul id="list_colores">
                            Colores:<br><br>
                            {% for color in producto.color.all %}
                                <li class="elemColor" id="{{ color }}">{{ color }}</li>
                            {% endfor %}
                        </ul>
                        <br>
                    <h4>¿No encontraste tu talla?</h4>
                    <br>
                    <br>
                    <div id="info_precio">
                    <label>${{ producto.precio_venta }}0</label>
                        <input type="submit" name="btnCarrito" value="Añadir al carrito" id="btnCarrito">
                    </div>
                    </form>
                </div>
                </div>
                <br>
                <div id="lateral_prod">

                </div>

                <div id="desc_prod">
                    <h3>Descripción del producto</h3>
                    <p id="descripcion">{{ producto.descripcion }}</p>
                    <ul id="list_desc">
                        <li class="n">SKU: {{ producto.SKU }}</li>
                        <li class="b">Modelo: {{ producto.modelo }}</li>
                        <li class="n">Categoría: {{ producto.subcategoria.categoria }}</li>
                        <li class="b">Subcategoría: {{ producto.subcategoria.nombre }}</li>
                        <li class="n">Precio: ${{ producto.precio_venta }}0 MXN</li>
                        <li class="b">Tallas:
                            {% for talla in producto.talla.all %}
                               [{{ talla.talla }}]
                            {% endfor %}</li>
                        <li class="n">Colores disponibles:
                            {% for color in producto.color.all %}
                                [{{ color.nombre }}]
                            {% endfor %}
                        </li>
                    </ul>
                </div>

            {% else %}


            {% endif %}


    </div>

{% endblock %}