{%extends 'base.html'%}

{%block contenido%}

	<h1> Crea tu cuenta de Alfie</h1>

	<div id="formulario_registro">

		<form action="" method="post" name "registro" class="formulario" id="formregistro">
			{% csrf_token %}		

				<p class="label">Nombre: </p>
				<input type="text" name="nombre" class="text_registro" id="txt_nombre" placeholder="Nombre">

				<input type="text" name="ap_pat" class="text_registro" id="txt_apellido" placeholder="Apellido">

				<p class="label">Nombre de usuario: </p>
				<input type="text" name="id_user" class="text_registro" id="txtUsuario">
			
				<p class="label">Contraseña: </p>
				<input type="password" name="cont" class="text_registro" id="txtContrasena" placeholder="Debe contener al menos ocho caracteres">

				<p class="label">Confirmar contraseña: </p>
				<input type="password" name="cont2" class="text_registro" id="txtContrasena">

				<p class="label">Correo electrónico: </p>
				<input type="text" name="correo" class="text_registro" id="txtCorreo" placeholder="ej. ejemplo@alfie.com">

				<p class="label">Fecha de nacimiento: </p>
				<input type="date" name="fecha_nacimiento" class="text_registro" id="fecha_nacimiento" placeholder="dd/mm/aaaa">				

				<p class="label">Sexo: </p>
				<select name="sexo">
				  <option value="hombre" name='hombre'>Hombre</option>
				  <option value="mujer" name='mujer'>Mujer</option>
				</select>				


				<p class="label">Domicilio: </p>
				<input type="text" name="domicilio" class="text_registro" id="txtDomicilio">

				<p class="label">Ciudad: </p>
				<input type="text" name="" class="text_registro" id="txtCiudad">

				<p class="label">Estado: </p>
				<input type="text" name="" class="text_registro" id="txtEstado">

				<p class="label">Teléfono: </p>
				<input type="text" name="" class="text_registro" id="txtTelefono">

				<br>
				<br>
				<br>
				<input type="submit" value="Registro" name= "registro" class="text_registro" id="btnRegistro">



			</div>
		</form>
	</div>
{%endblock%}