{%extends 'base.html'%}
{% block aside %}
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="{{STATIC_URL}}js/jquery-1.11.1.js"></script>
    <script src="{{STATIC_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#id_fecha_nacimiento').datepicker();
        });


    </script>
{% endblock %}

{%block contenido%}


	<div id="formulario_registro">
		{%if errors %}
		<ul>
			{%for error in errors%}
			<li>{{error}}</li>
			{%endfor%}
		</ul>
		{%endif%}
		<form action="" method="post" name="registro" class="formulario" id="formregistro">
			{% csrf_token %}		
				
				<h2> Crea tu cuenta de Alfie</h2>
				<table>
                    {{registro_form.as_table}}
				</table>
				<br>
				<input type="submit" value="Registro" name= "registro" id="btnRegistro">

		</form>

		{%if m%}
			<p>{{m}}</p>
		{%endif%}

	</div>
	
{%endblock%}