{% extends 'base.html' %}
{% block aside %}
{% endblock %}

{% block contenido %}
    <div id="res_usuario">
        <div id="res_izq">
            {% if user.perfil.foto_perfil %}
            <img src="{{ user.perfil.foto_perfil.url }}" id="foto_perfil" width=140 height=140>
            {% else %}
            <img src="{{STATIC_URL }}img/default.jpg" id="foto_perfil" width="140" height="140">
            {% endif %}
            <p>{{user.username}}</p>
        </div>
        <div id="res_info">

            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <h2>Resumen de usuario</h2>
            <hr>
            <p><strong>Último inicio de sesión: {{ user.last_login }}</strong></p>
            <h4>Últimas compras realizadas: </h4>
            <ul>
                {% if compras %}
                    {% for compra in compras %}
                    {% endfor %}
                {% endif %}
            </ul>

            <h4>Productos en carrito de compras: </h4>
            <ul>
                {% if carrito %}
                    {% for producto in carrito %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}